.container {

}

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.column-full {
  flex-basis: 100%;
}

.column-seventh {
  flex-basis: calc(100% / 8);
  background-color: #ffff;
  text-align: center;
  font-size: 0.75rem;
  padding: 2rem 0;
  border-radius: 50%;
}
