body {
  background-color: #bdb4e3;
}

h1,
h2,
h4 {
  text-align: center;
  font-family: Kanit, sans-serif;
}

.button-container {
  text-align: center;
}

.submit,
.add-entry {
  font-family: Kanit, sans-serif;
  color: #fff;
  background-color: #836dde;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  margin-top: 2rem;
}

.modal-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgb(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 30rem;
  height: 17rem;
  padding: 0 1rem;
  border-radius: 5px;
}

select {
  margin-bottom: 1rem;
  font-family: Kanit, sans-serif;
}

select:last-child {
  margin-left: 1rem;
}

textarea {
  height: 4rem;
  width: 100%;
  padding: 0.3rem;
  resize: none;
}

.submit {
  margin-top: 1rem;
}

.add-entry:hover,
.submit:hover {
  cursor: pointer;
}

.submit-container {
  text-align: right;
}

select:focus,
textarea:focus {
  border-color: #836dde;
  outline-color: #836dde;
}

.hidden {
  display: none;
}

table {
  border: 1px solid black;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

th {
  text-align: left;
  background-color: #4e4b5e;
  color: white;
}

tr {

}
